<footer id="site-footer">
  <!-- Release information -->
  {% if site.github and site.github.releases and site.github.releases[0] %}
    <section>
      {% assign latestRelease = site.github.releases[0] %}

      <h3>Version {{ latestRelease.tag_name }}{% if latestRelease.prerelease == true %} (pre-release){% endif %}</h3>
      <p>Published <a href="{{ latestRelease.html_url }}">{{ latestRelease.published_at | date_to_long_string }} on GitHub</a></p>
      <p>{{ latestRelease.name }}</p>

      <ul>
        {% for asset in latestRelease.assets %}
          <li>
            <a href="{{ asset.browser_download_url }}" download><code>{{ asset.name }}</code></a>
          </li>
        {% endfor %}
        <li>
            <a href="{{ site.github.repository_url }}/releases">All releases</a>
        </li>
        <li>
          Source archive in 
          <a href="{{ latestRelease.zipball_url }}" download><code>.zip</code></a>
          or
          <a href="{{ latestRelease.tarball_url }}" download><code>.tar.gz</code></a>
        </li>
      </ul>
      {% if site.include_badges %}
      {% include badges.html %}
      {% endif %}
      {% if site.include_translations %}
      {% include translations.html %}
      {% endif %}
    </section>
  {% endif %}

  <!-- GitHub repository information -->
  {% if site.github %}
    <section>
      <h3>This site on GitHub</h3>
      <p>This site was last published {{ site.time | date_to_long_string }} from the <a href="{{ site.github.repository_url }}">{{ site.github.repository_nwo }}</a> repository on GitHub.</p>

      <form id="search-repository" action="{{ site.github.repository_url }}/search" method="GET">
        <input name="q" type="text" placeholder="Search source on GitHub">
        <button type="Submit">
        <i class="bi bi-github"></i> Search
        </button>
      </form>

    </section>
  {% endif %}

  <!-- License information -->
  {% if site.license or site.github.license %}
    <section>
      <h3>Copyright and license</h3>
      <p>
        © {{ site.time | date: '%Y' }} 
        {% for static_file in site.static_files %}
          {% if static_file.path == '/AUTHORS.md' %}
              {% assign authors_file = true %}
          {% endif %}
        {% endfor %}
        {% if authors_file != true %}<a href="https://publiccode.net/">
          {{ site.copyright | default: 'Foundation for Public Code' }}
        </a>{% endif %}
        {% if authors_file %}<a href="{{ site.baseurl }}/AUTHORS.html">
          {{ site.copyright | default: ' The Authors' }}
        </a>{% endif %}
      </p>
      <p>
        {% for static_file in site.static_files %}
          {% if static_file.path == '/LICENSE.md' %}
              {% assign license_file = true %}
          {% endif %}
        {% endfor %}
        {% if license_file %}<a href="{{ site.baseurl }}/LICENSE.html" rel="license">{% endif %}
        {{ site.license.name | default: site.github.license.name }}
        {% if license_file %}</a>{% endif %}
      </p>
    </section>
  {% endif %}
</footer>
